@font-face {
  font-family: 'Moderat';
  src: local("AnyTestFont"), 
        url("/fonts/Moderat-Regular.eot?#iefix") format("embedded-opentype"),
        url('/fonts/Moderat-Regular.woff') format('woff'),
        url('/fonts/Moderat-Regular.woff2') format('woff'),
        url('/fonts/Moderat-Regular.otf') format('opentype');
  unicode-range:U+0041-005A, U+0061-007A, 
  U+0020-002F, U+003A-0040, U+005B-0060, U+007B-007E,
  U+0030-0039;
}
@font-face {
  font-family: 'Alex';
  src: local("AnyTestFont"), 
        url("/fonts/AlexBrush-Regular.ttf") format("truetype");
        unicode-range:U+0041-005A, U+0061-007A, 
        U+0020-002F, U+003A-0040, U+005B-0060, U+007B-007E,
        U+0030-0039;
}
@font-face {
  font-family: 'SUIT';
  src: local("AnyTestFont"), 
        url("/fonts/SUIT-Regular.ttf") format("truetype");
  unicode-range: U+AC00-D7A3;
}
@font-face {
  font-family: 'korea';
  src: local("AnyTestFont"), 
        url("/fonts/testkoreafont.ttf") format("truetype");
  unicode-range: U+AC00-D7A3;
}

body{
    padding: 0;
    margin: 0;
    font-family: 'Moderat', 'SUIT';
}
a{
    text-decoration: none;
    color: #000;
}
li{
  list-style: none;
}
p{
  margin-top: 0;
  margin-bottom: 0;
  word-wrap: break-word;
  word-break: keep-all;
}
/*--------------header--------------*/
header{
    width: 100%;
    height: 91px;
    background-color: #FFF;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
    position: fixed;
    font-family: 'Moderat';
    letter-spacing: 1px;
}
.header-icon-wrap{
    width: 313.67px;
    position: absolute;
    /* bottom: 32px; */
    left: 28px;
    top: 28px;
}
.header-icon-wrap .logo_m{display:none;}
.web-nav{
    position: absolute;
    right: 28px;
    top: 28px;
    /* text-transform: uppercase; */
    font-size: 17 px;
    display: flex;
}
.web-nav div{position:relative; display:flex; flex-direction: column;}
.web-nav div p{position:absolute; top:30px; left:0; display:flex;flex-direction: column;}
.web-nav a.active{text-decoration:underline;}
.web-nav a svg{margin-left:5px;} 
.web-nav span{
    margin-left: 80px;
}
.mobile-nav{display: none;}
.menu-icon-wrap{
    display: none;
}
@media screen and (max-width:870px) {
    header{
        /* height: 103px; */
        height: 74px;
    }
    .header-icon-wrap .logo_pc{display:none;}
    .header-icon-wrap .logo_m{display:block;}
    .header-icon-wrap{
        width: 259.21px;
        /* bottom: 21px; */
        /* top: 60px; */
        top:16px;
        /* left: 6.111vw; */
        left: 16px;
    }
    .web-nav{display: none;}
    .mobile-nav{
        display: inline;
        position: absolute;
        /* text-transform: uppercase; */
        top: 74px;
        right: 100%;
        background-color: #FFF;
        /* width: 132px; */
        width: 100%;
        height: calc(100vh - 74px);
        transition: right 0.8s ease;
        /* transform: translateX(0);
        animation: transform 1.2s ease-in-out; */
        box-sizing:border-box;
        padding:25px 16px;
        font-size: 14px;
        font-weight:600;
    }
    .mobile-nav dl{position:relative; margin:0; padding:0 0 10px 60px;}
    .mobile-nav dl dt{position:absolute; top:0; left:0; min-width:60px; }
    .mobile-nav dl dd{margin:0;} 
    .mobile-nav > a{ display:block;margin-bottom:10px;}
    .mobile-nav div{position:relative;}
    .mobile-nav div p{position:absolute; top: 0; left: 95px;}
    .mobile-nav div p span{margin:0 0 5px 0;}
    .mobile-nav div p a:nth-of-type(1) span{margin-top:0;}
    .menuActive{
      right: 0;
      /* right: 0;
      animation: transform 1.2s ease-in-out; */
    }
    .menuInactive{
      /* right: 100%; */
      /* transform: translateX(-100%);
      animation: transform 1.2s ease-in-out; */
    }
    /* @keyframes fadeInRight {
      from{
        opacity: 100;
        transform: translateX(-100%);
      }
      to{
        opacity: 100;
        transform: none;
      }
    }
    @keyframes fadeInLeft {
      from{
        opacity: 100;
        transform: translateX(100%);
      }
      to{
        opacity: 100;
        transform: none;
      }
    } */
    
    .menu-icon-wrap{
        display: inline;
        width: 21.31px;
        height: auto;
        position: absolute;
        /* bottom: 21px; */
        top: 16px;
        right: 16px;
    }
}
/*---------------------------------*/
/*-------------Main page--------------------*/
.layout-container{
    /* width: 100vw; */
    min-height: 100vh;
    /* background-color: aquamarine; */
    /* overflow: hidden; */
}
.main-container{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
    padding-top: 91px;
}
.img-container{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
}
.img-container img{
    position: absolute;
    z-index: -1;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.img-container img{
  height: 100%;
  width: auto;
}
.aboutExit{
  position:absolute;
  /* right:100px;
  top:120px; */
  /* font-size: 14px; */
  font-size: 0.8333vw;
  bottom: 25px;
  left: 50%;
  transform: translate(-50%);
}
@media screen and (max-width:870px) {
  .aboutExit{
    /* font-size: 12px; */
    font-size: 3vw;
  }
}
/*web main poster*/
.mobile-poster{display: none;}
@media screen and (min-width:871px) and (max-aspect-ratio:1) { 
  .img-container img{
      width: 100%;
      height: auto;
  }
}
@media screen and (min-width:871px) and (min-aspect-ratio:1) and (max-aspect-ratio:1920/988){
  .img-container img{
      width: 100%;
      height: auto;
  }
}
@media screen and (min-width:871px) and (min-aspect-ratio:1920/988){
  .img-container img{
      width: auto;
      height: 100%;
  }
}
/* @media screen and (min-width:871px) and (max-aspect-ratio:1) { // 잘리는 포스터
    .img-container img{
        height: 100%;
        width: auto;
    }
}
@media screen and (min-width:871px) and (min-aspect-ratio:1) and (max-aspect-ratio:1920/988){
    .img-container img{
        height: 100%;
        width: auto;
    }
}
@media screen and (min-width:871px) and (min-aspect-ratio:1920/988){
    .img-container img{
        height: auto;
        width: 100%;
    }
} */

/*모바일 메인 포스터*/
@media screen and (max-width:870px) and (max-aspect-ratio:360/780){
  .main-container{padding-top: 91px;}  
  .img-container{
        margin-top: 0px;
    }
    .img-container img{
        width: 100%;
        height: auto;
    }
    .mobile-poster{display: inline;}
    .web-poster{display: none;}
}
@media screen and (max-width:870px) and (min-aspect-ratio:360/780){
  .main-container{padding-top: 91px;}  
  .img-container{
        margin-top: 0px;
    }
    .img-container img{
        width: auto;
        height: 100%;
    }
    .mobile-poster{display: inline;}
    .web-poster{display: none;}
}

/* @media screen and (max-width:870px) and (max-aspect-ratio:1) {
  .main-container{padding-top: 91px;}
    .img-container{
        margin-top: 0px;
    }
    .img-container img{
        height: 100%;
        width: auto;
    }
    .mobile-poster{display: inline;}
    .web-poster{display: none;}
}
@media screen and (max-width:870px) and (min-aspect-ratio:1) and (max-aspect-ratio:360/780){
  .main-container{padding-top: 91px;}  
  .img-container{
        margin-top: 0px;
    }
    .img-container img{
        height: 100%;
        width: auto;
    }
    .mobile-poster{display: inline;}
    .web-poster{display: none;}
}
@media screen and (max-width:870px) and (min-aspect-ratio:360/780){
  .main-container{padding-top: 91px;}  
  .img-container{
        margin-top: 0px;
    }
    .img-container img{
        height: auto;
        width: 100%;
    }
    .mobile-poster{display: inline;}
    .web-poster{display: none;}
} */

/*--------------------------------------------------*/

/*------------------- notice ---------------------*/
.notice-container{padding:91px 80px 66px;}
.notice_type{padding-bottom:35px;display:flex;}
.notice_type button{margin-right:8px; height:32px;padding:0 10px; box-sizing:border-box;background:#fff; border-radius:999px; border:1px solid #000; font-size:14px;}
.notice_type button.active{color:#fff;background:#000;}
.notice_type button.type01{color:rgba(255, 110, 168, 1); border:1px solid rgba(255, 110, 168, 1);}
.notice_type button.type01.active{color:#fff; background:rgba(255, 110, 168, 1); border:1px solid rgba(255, 110, 168, 1);} 
.notice_type button.type02{color:rgba(145, 165, 255, 1); border:1px solid rgba(145, 165, 255, 1);}
.notice_type button.type02.active{color:#fff; background:rgba(145, 165, 255, 1); border:1px solid rgba(145, 165, 255, 1);}  
.notice_type button.type03{color:rgba(59, 85, 255, 1); border:1px solid rgba(59, 85, 255, 1);}
.notice_type button.type03.active{color:#fff; background:rgba(59, 85, 255, 1); border:1px solid rgba(59, 85, 255, 1);}  
.notice_type button.type04{color:rgba(29, 204, 96, 1);  border: 1px solid rgba(29, 204, 96, 1)}
.notice_type button.type04.active{color:#fff; background:rgba(29, 204, 96, 1); border:1px solid rgba(29, 204, 96, 1);}

.notice_th{display:flex; align-items: center; margin:0; padding:10px 0; font-weight:600;font-size:17px;}
.notice_th li:nth-child(1){width:60px;}
.notice_th li:nth-child(2){width:calc(100% - 190px );}
.notice_th li:nth-child(3){width:130px; box-sizing:border-box; padding-left:20px;}

.notice_list{margin:0; padding:0; }  
.notice_list li{padding:10px 130px 10px 0; position:relative; font-size:16px; border-top:1px solid rgba(0, 0, 0, 0.2);} 
.notice_list li .notice-info{display:flex; align-items: center; }
.notice_list li .notice-info div:nth-child(1){padding:0 12px; margin-right:10px; display:inline-block;line-height:32px; box-sizing:border-box; border-radius:999px; font-style:normal;font-size:14px; }
.notice_list li .notice-info div:nth-child(1).type01{color:rgba(255, 110, 168, 1); border:1px solid rgba(255, 110, 168, 1);}
.notice_list li .notice-info div:nth-child(1).type02{color:rgba(145, 165, 255, 1); border:1px solid rgba(145, 165, 255, 1);}
.notice_list li .notice-info div:nth-child(1).type03{color:rgba(59, 85, 255, 1); border:1px solid rgba(59, 85, 255, 1);}
.notice_list li .notice-info div:nth-child(1).type04{color:rgba(29, 204, 96, 1);  border: 1px solid rgba(29, 204, 96, 1)}
.notice_list li .notice-info div:nth-child(3){position:absolute;top:10px;right:0;padding:0 10px 0 20px; line-height: 32px; border-left:1px solid rgba(0, 0, 0, 0.2);}

@media screen and (max-width:870px) {
  .notice-container{padding:91px 16px 0;}

  .notice_type button{height:26px; padding:0 8px; font-size:12px;}

  .notice_th{display:none;}

  .notice_list li{padding:10px 0; font-size:14px;}
  .notice_list li .notice-info{flex-wrap: wrap;}
  .notice_list li .notice-info div:nth-child(1){padding:0 8px; margin-right:8px; font-size:12px; line-height:26px;} 
  .notice_list li .notice-info div:nth-child(2){order:2; width:100%; margin-top:5px;} 
  .notice_list li .notice-info div:nth-child(3){order:1; position:static;border:0;padding:0;line-height:26px;}  
} 

.notiview-container{width:1160px; margin:0 auto; padding:145px 80px; box-sizing:border-box;}
.notiview-top{ }
.notiview-top .notiview_tit{padding-bottom:30px; border-bottom: 1px solid rgba(0, 0, 0, 0.2); font-size:47px; line-height:1.2;}
.notiview-top .notiview-info{padding:30px 0; border-bottom: 1px solid rgba(0, 0, 0, 0.2); font-weight:600; font-size:14px; line-height:1.5;}
.notiview-top .notiview-info > div + div{margin-top:8px;}
.notiview-top .notiview-info > div{display:flex;}
.notiview-top .notiview-info > div span{width:70px;}
.notiview-top .notiview-info > div em{width:calc(100% - 70px); font-style:normal;}
.notiview-top .notiview-info > div em a{text-decoration: underline; color: rgba(29, 204, 96, 1);}
.notiview-cont{padding:50px 100px 145px 100px; font-size:18px; }
.notiview-back{text-align:center;}
.notiview-back a{font-size:22px; border-bottom:1px solid #000; }
@media screen and (max-width:1160px) {
  .notiview-container{width:100%;  }
}
@media screen and (max-width:870px) {
  .notiview-container{width:100%; padding:104px 16px 60px; }
  .notiview-top .notiview_tit{font-size:16px; font-weight:600;}
  .notiview-top .notiview-info{padding:16px 0;}
  .notiview-cont{padding:30px 0 70px 0; font-size:14px; }
  .notiview-back a{ font-size:14px; }
}
/*--------------------------------------------------*/


/*-------------------main ---------------------*/
.main_visual{padding-top:91px;}
.main_visual img{ width:100%; }
.main_visual .swiper-horizontal > .swiper-pagination-bullets, 
.main_visual .swiper-pagination-bullets.swiper-pagination-horizontal{bottom:47px; left:50%;-webkit-transform:translateX(-50%);transform:translateX(-50%); display:flex; max-width:764px; }
.main_visual .swiper-pagination-bullet{height:6px;margin:0 !important;flex:1;border-radius:0;background: #FFFFFF66;
opacity:1;}
.main_visual .swiper-pagination-bullet.swiper-pagination-bullet-active{background: #FFFFFF;}
.main_visual_mo{display:none;}

.main-banner{padding:98px 66px 0 66px; } 
.main-banner img{ width:100%; }
.main-banner .swiper-button-prev, 
.main-banner .swiper-button-next{color:#fff;}

.main-notice{position:relative; max-width:100%; margin:86px auto 0; padding:0 80px; box-sizing:border-box; font-weight:600;}
.main-notice h3{margin:0; padding-bottom:10px; font-size:17px;}.main-notice .more{position:absolute;top:0;right:80px;font-size:17px; text-decoration:underline;}
@media screen and (max-width:870px) {
  .main_visual .swiper-horizontal > .swiper-pagination-bullets, 
  .main_visual .swiper-pagination-bullets.swiper-pagination-horizontal{bottom:29px;max-width:calc(100% - 154px);}
  .main_visual .swiper-pagination-bullet{height:5px;}  
  .main_visual_web{display:none;}
  .main_visual_mo{display:block;}

  .main-notice{  margin:55px auto 0; padding:0 16px;}   
  .main-notice h3{ padding-bottom:8px; font-size:14px;}
  .main-notice .more{ right:26px;font-size:14px; } 

  .main-banner{padding:74px 16px  16px; } 
}
/*--------------------------------------------------*/


/*-------------------scroll down---------------------*/

.scroll-down-wrap{
    position: absolute;
    bottom: 35px;
    left: 50%;
    transform: translate(-50%);
    width: 11.979vw;
    height: auto;
}
.bounce-out-down {
  animation: bounce-out-down 2s ease;
  animation-fill-mode: forwards;
}

@keyframes bounce-out-down {
  0%,50%{
    transform: translate(-50%, 0);
    opacity: 1;
  }
  25%,75% {
    transform: translate(-50%, 10px);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, 10px);
    opacity: 0; /* 100%에서 투명도를 0으로 설정하여 페이드아웃 효과 추가 */
  }
}
/*--------------------------------------------------*/
/*-------------------scroll down---------------------*/
.scrollup-wrap{
  position: fixed;
  bottom: 15px;
  right: 20px;
  width: 27px;
}
@media screen and(max-width : 870px) {
  .scrollup-wrap{
    position: fixed;
    bottom: 15px;
    right: 20px;
    width: 15px;
  }
}
.invisible{display: none;}
.visible{display: inline;}
/*---------------------------------------------------*/
/*-------------------exhibition-----------------------*/
.exhibition{
    padding: 92px 80px 58px;
    position: relative;
    min-height: 100vh; /*footer 밑으로 보내기*/
    box-sizing: border-box;
    font-family: 'Moderat';
  }
  .exhibition .exhibition-title{
    font-size: 0.9375vw;
    margin: 35px 0 24px 0;
    text-transform: uppercase;
  }
  .exhibition-container{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    padding-bottom: 2.5vw;
    margin-top: 1vw;
    margin-left: -1.042vw;
    width: calc(100% + 2.084vw);
  }
  .exhibition-container a{ 
    padding: 0 0 2.5vw;
  }
  .exhibition-container img{
    width: 100%;
    height: auto;
  }
  .exhibition-container .isVertical{
    width: 100%;
    height: auto;
  }
  .exhibition-image-container{
    position: relative;
    padding-left: 1.042vw;
    padding-right: 1.042vw;
    text-align: center;
  }
  .exhibition-info{
    box-sizing: border-box;
    color: #000;
    /* position: absolute; */
    bottom: 0px;
    /* left: 1.042vw; */
    width: calc(100% - 2.084vw);
    /* padding-bottom: 20px; */
    padding-top: 0.8302vw;
    padding-left: 1.042vw;
    /* padding-right: 20px; */
    /* padding-left: 20px; */
    /* background-color: rgba(0,0,0,0.2); */
  }
  .exhibition-info > div:first-child{
    font-family: 'Moderat', 'SUIT';
    margin-bottom: 2px;
  }
  
  @media (hover: hover) {
    .exhibition-image-container:hover .exhibition-info{
      height: calc(100% - 4px);
    }
  }
  .exhibition-student-name{
    /* color: rgba(0, 0, 0, 0.5); */
    font-family: 'Moderat';
  }
  /* .whiteFont{color: white;} */
  @media screen and (min-width:1134px){
    .exhibition-container a:nth-last-of-type(-n+4){
      border: none;
    }
    .exhibition-container a:nth-last-of-type(-n+4) .exhibition-image-container::before{
      content: "";
      position: absolute;
      left: 0;
      height: calc(100% - 2.5vw);
      width: 1.042vw ;
      border-left: #f0f0f0 solid 1px;
    }
    .exhibition-info >div:first-child{font-size: 0.9375vw;}
    .exhibition-info > div:last-child{font-size: 0.8333vw;}
  }
  @media screen and (min-width:870px) and (max-width:1133px){
    .exhibition-container{
      grid-template-columns: 33.33% 33.33% 33.33%;
  
    }
    .exhibition-container a:nth-last-of-type(-n+3){
      border: none;
    }
    .exhibition-container a:nth-last-of-type(-n+3) .exhibition-image-container::before{
      content: "";
      position: absolute;
      left: 0;
      height: calc(100% - 2.5vw);
      width: 1.042vw ;
      border-left: #f0f0f0 solid 1px;
    }
    .exhibition-info{
      /* padding-bottom: 15px; */
      padding-top: 0.8302vw;
      /* padding-left: 15px; */
      /* padding-right: 15px; */
    }
    .exhibition-info > div:first-child{
      font-size: 1.5887vw;
    }
    .exhibition-info > div:last-child{
      font-size: 1.4122vw;
    }
  }
  @media screen and (min-width:567px) and (max-width:869px){
    .exhibition-container{
      grid-template-columns: 33.33% 33.33% 33.33%;
    }
    .exhibition-container a:nth-last-of-type(-n+3){
      border: none;
    }
    .exhibition-container a:nth-last-of-type(-n+3) .exhibition-image-container::before{
      content: "";
      position: absolute;
      left: 0;
      height: calc(100% - 2.5vw);
      width: 1.042vw ;
      border-left: #f0f0f0 solid 1px;
    }
    .exhibition-info{
      /* padding-bottom: 15px; */
      padding-top: 0.8302vw;
      /* padding-left: 15px; */
      /* padding-right: 15px; */
    }
    .exhibition-info > div:first-child{
      font-size: 1.5887vw;
    }
    .exhibition-info > div:last-child{
      font-size: 1.4122vw;
    }
  }
  @media screen and (max-width:566px){
    .exhibition{
      /* padding: 91px 7.333vw 40px; */
      padding: 91px 16.69px 40px;
      position: relative;
    }
    .exhibition .exhibition-title{
      font-size: 4.444vw;
      text-align: center;
    }
    .exhibition-container{
      grid-template-columns: 50% 50%;
      position: relative;
    }
    .exhibition-container a{
      border-left: 0.0625vh #000 solid;
      padding: 0 0 11.111vw 0;
    }
    /*
    .exhibition-container a:first-child{
      padding-top: 12px;
      margin-top: 20px;
    }
    .exhibition-container a:first-child::before{
      content: "";
      position: absolute;
      top: 0;
      height: 12px;
      width: 100%;
      border-top: #f0f0f0 solid 1px;
      margin-left: 50%;
      transform: translate(-50%);
    }
    */
    .exhibition-info{
      /* padding-bottom: 15px; */
      padding-top: 1.889vw;
      /* padding-left: 15px; */
      /* padding-right: 15px; */
    }
    .exhibition-info >div:first-child{font-size: 3.889vw;}
    .exhibition-info > div:last-child{font-size: 3.333vw;}
    .exhibition-container a{
      border: none;
    }
  }
/*--------------------------------------------------*/

/*-------------------exhibition_list-----------------------*/
.exhibition_tab{display:flex;padding-bottom:15px;}
.exhibition_tab a{padding:0 12px; margin-right:8px; line-height:32px; color:#999; border-radius:999px; border:1px solid #999;font-size:14px; font-weight:600;}
.exhibition_tab a:hover{color:#000;border-color:#000;}
.exhibition_tab a.active{ color:#fff; background: #000;border-color:#000;}

.listtype_hd{display:flex;padding:10px 0;border-bottom:1px solid #d9d9d9;}
.listtype_hd > div{position:relative;padding:0 25px; box-sizing:border-box; color:#999999;}
.listtype_hd > div:before{content:'';display:block;width:1px;height:26px;background: #d9d9d9;position:absolute;top:0;left:0;}
.listtype_hd > div:nth-child(1){width:16%;padding-left:0;}
.listtype_hd > div:nth-child(1):before{display:none;}
.listtype_hd > div:nth-child(2){width:25%;}
.listtype_hd > div:nth-child(3){width:59%;}

.exhibition_listtype{padding-bottom:92px;}
.exhibition_listtype > a{display:block;position:relative;}
.exhibition-info-list{display:flex; align-items:center; padding:10px 0; border-bottom:1px solid #d9d9d9;}
.exhibition-info-list > div{position:relative; padding:0 25px; box-sizing:border-box;}
.exhibition-info-list > div:before{content:'';display:block;width:1px;height:26px;background: #d9d9d9;position:absolute;top:0;left:0;}
.exhibition-info-list > div:nth-child(1){width:16%;padding-left:0;}
.exhibition-info-list > div:nth-child(1):before{display:none;}
.exhibition-info-list > div:nth-child(2){width:25%;}
.exhibition-info-list > div:nth-child(3){width:59%;}
.exhibition-image-container-list{display:none;position:fixed; top:126px; left:calc(50% + 95px);  
 width:26%; z-index:100;}
.exhibition-image-container-list img{width:100%; height:auto;}
.exhibition_listtype > a:hover .exhibition-info-list{background: #f2f2f2;}
.exhibition_listtype > a:hover .exhibition-image-container-list{display:block;}
@media screen and (max-width:870px) { 

  .exhibition_tab a{padding:0 8px; margin-right:5px; font-size:12px; line-height:26px; }
  .listtype_hd{display:none;}  
  .exhibition_listtype{border-top:1px solid #d9d9d9;}
  .exhibition-info-list{flex-wrap: wrap }
  .exhibition-info-list > div:before{height:22px;}
  .exhibition-info-list > div:nth-child(1){order:1;width:auto;padding:0 10px 0 0;}
  .exhibition-info-list > div:nth-child(2){order:0;width:100%; padding:0;}
  .exhibition-info-list > div:nth-child(2):before{display:none;}
  .exhibition-info-list > div:nth-child(3){order:2;width:auto;padding:0 0 0 10px;}
  .exhibition_listtype > a:hover .exhibition-image-container-list{display:none;}
}

/*--------------------------------------------------*/

/*---------------------Footer-----------------------------*/
footer{
    width: calc(100vw - 160px);  
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    bottom: 0;
    right: 80px;
    left: 80px;
    z-index: 3; 
    padding-bottom:30px;
    font-weight:600;
    font-size: 12px; 
    line-height:18px;
    padding-top:60px;
  }
  footer div{display: flex;}
  footer div span{padding-right:40px;} 
  footer div span svg{width:95px;}

  @media screen and (max-width:870px) {
    footer{ 
      flex-direction: column;
      width:calc(100% - 32px);
      right: 16px;
      left: 16px;
    }
    footer div{flex-direction: column; width:100%;}
    footer div span + span{margin-top:20px;}
    footer p{  width:100%;margin-top:20px;}
     
  }

  /*--------------------------------------------------*/
  /*-----------------------Portfolio---------------------------*/
.portfolio-container{
  padding-top: 91px;
  padding-bottom: 7.9688vw;
  margin-left: 80px;
  margin-right: 80px; 
  box-sizing: border-box;
  position: relative;
  font-family: 'Moderat';
}
.portfolio-container footer{left:0;right:0;} 
.portfolio-box1{
  margin-top: 2.4479vw;
  margin-bottom: 3vw;
}
.navigation{
  /* text-align: right; */
  text-align: center;
  font-size: 1.0417vw;
  margin-bottom: 7.2917vw;
  margin-top: 0;
  font-family: 'Moderat';
  text-transform: uppercase;
}
.navigation div a{
  color: rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.portfolio-box1 .project-name{
  font-size: 3.229vw;
  line-height: 3.2797vw;
  margin-bottom: 0.4167vw;
  font-family: 'Moderat', 'SUIT';
}
/* .portfolio-box1 .big{
  font-size: 3.229vw;
  line-height: 3.2797vw;
}
.portfolio-box1 .small{
  font-size: 4.739vw;
  display: none;
} */

.portfolio-flex{display:flex; flex-wrap: wrap;}
.portfolio-flex .portfolio-image-container{width:58%;}
.portfolio-flex .portfolio-image-container .video-wrap{margin:0;}
.portfolio-flex .portfolio-image-container .portfolio-image-wrap{margin:0;}
.portfolio-flex .portfolio-box2{width:39%; margin:0 0 0 3%;}
.portfolio-flex .portfolio-box2 .project-info-wrap{grid-template-columns:100%;}
.portfolio-flex .portfolio-box2 .portfolio-cation-wrap{grid-template-columns:100%}
.portfolio-flex .portfolio-box2 .portfolio-cation-wrap >div{margin:0;}
.portfolio-flex .portfolio-box2 .portfolio-cation-wrap >div + div{margin-top:3vw;}
.portfolio-box2{
  margin-bottom: 6.25vw;
  margin-top: 2.5vw;
}
.student-info{
  position: relative;
  font-size: 1.3021vw;
  /* line-height: 1.353vw; */
}
.student-info div{
  display: inline;
  margin-right: 1.458vw;
}
.student-info >div:first-child{
  font-family: 'Moderat';
}
.student-info>div:last-child{
  font-family: 'Moderat', 'SUIT';
}
.portfolio-box1, .project-name, .value, .move-page{
  text-transform: uppercase;
}
.key{
  text-transform: capitalize;
  font-size: 0.8435vw;
  color: rgba(0, 0, 0, 0.50);
  font-family: 'Moderat';
}
.value{
  font-size: 0.8435vw;
  font-family: 'Moderat', 'SUIT';
}
.portfolio-image-container{
  width: 100%;
}
.portfolio-image-wrap{
  margin-left: 18.75vw;
  margin-right: 18.75vw;
}
.video-wrap{
  margin-left: 18.75vw;
  margin-right: 18.75vw;
  /* /// */
  /* position: relative;
  padding-bottom: 56.25%;
  height: 0; */
}
iframe{
  height: 35.3vw;
}

.portfolio-image-wrap img{
  width: 100%;
  height: auto;
}
.project-info-wrap{
  width: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 22.5% 77.5%;
}
.project-info{
  padding-right: 13.284%;
}
.project-info .project-name{
  font-size: 1.3021vw;
  margin-bottom: 1.458vw;
  word-wrap: break-word;
  font-family: 'Moderat','SUIT';
}
.project-detail{
  display: grid;
  grid-template-rows: auto auto;
}
.project-detail > div:first-child >div, .project-detail > div:last-child{
  display: grid;
  grid-template-columns: 52.766% 47.234%;
}
.project-detail >div>div{
  margin-bottom: 0.8333vw;
}
.portfolio-cation-wrap{
  display: grid;
  grid-template-columns: 50% 50%;
  font-size: 0.8333vw;
} 
.portfolio-cation-wrap p{
  word-wrap: break-word;
  word-break: keep-all;
  font-family: 'Moderat', 'SUIT';
}
.portfolio-cation-wrap >div{
  /* margin-bottom: 7.344vw; */
  margin-left: 0.9375vw;
}
.portfolio-cation-wrap >div:first-child{
  line-height: 1.458vw;
  font-family: 'SUIT';
}
.portfolio-cation-wrap div:last-child{
  line-height: 1.354vw;
  font-family: 'Moderat';
}
.portfolio-box3{
  margin-top: 6.3021vw;
  /* margin-bottom: 7.9688vw; */
}
.student-info-detail{
  display: grid;
  grid-template-columns: 23.1667% 76.8333%;
  width: 100%;
  /* height: 4.4792vw; -------------------------------------*/
  margin-bottom: 4.7396vw;
  font-family: 'Moderat', 'SUIT';
}
.student-info-detail >div:first-child{
  margin-bottom: 24px;
}
.student-info-detail >div:first-child >div:first-child{
  font-size: 1.25vw;
  font-weight: 700;
  margin-bottom: 8px;
  /* font-family: 'SUIT'; */
}
.student-info-detail >div:first-child >div:last-child{
  text-transform: capitalize;
  font-size: 1.25vw;
  font-weight: 400;
  /* font-family: 'Moderat'; */
}
/* .student-info-detail >div:last-child{
  border-left: 1px solid #000;
  display: grid;
  grid-template-columns: 43.360% 55.6399%;
  grid-template-rows: 50% 50%;
} */
.student-info-detail >div:last-child{
  
	display: flex;
	flex-wrap: wrap;
  gap: 0.614vw;
  word-wrap: break-word;
  word-break: keep-all
  
}
.student-info-detail >div:last-child > div{
	flex: 1 1 44%;
}
.student-info-detail >div:last-child >div:first-child{
  /* font-family: 'SUIT'; */
}
.student-info-detail >div:last-child >div{
  padding-left: 1.5625vw;
  font-size: 0.8333vw;
  margin-top: 8px;
  margin-bottom: 8px;
}
.link-container{
  /* text-align: center; */
  text-align: left;
  margin-bottom: 3.152vw;
}
.link-container span{
  margin-right: 1.302vw;
}
.link-container span svg{
  /* width: 2.135vw; */
  width: 1.25vw;
}
.move-page{
  font-size: 0.9375vw;
}
.move-page >div:first-child{
  margin-bottom: 2.2917vw;
  text-decoration:underline;
}
.page-image-wrap{
  display: grid;
  grid-template-columns: 32.33% 32.33% 32.33%;
  gap: 1.5%;
}
.page-image-wrap img{
  width: 100%;
  height: auto;
}
@media screen and (max-width:870px) {
  .portfolio-container{
    padding-top: 91px;
    width: 100vw;
    box-sizing: border-box;
    padding-bottom: 20.278vw; 
    margin:0;
  }
  .portfolio-container footer{left:4.444vw; right:4.444vw;}
  .portfolio-box1,.portfolio-box2,.portfolio-box3{
    /* margin-left: 9.1667vw;
    margin-right: 9.1667vw; */
    margin-left: 4.444vw;
    margin-right: 4.444vw;
  }
  .portfolio-box1{
    /* margin-bottom: 7.5vw; */
    margin-top: 0;
    margin-bottom: 5.555vw;
  }
  .portfolio-flex{display:block;}
  .portfolio-flex .portfolio-image-container{width:100%;}
  .portfolio-flex .portfolio-box2{width:auto; margin:8.889vw 4.444vw;}
  .navigation{
    text-align: center;
    font-size: 3.333vw;
    
    margin-bottom: 15.556vw;
    margin-top: 0;
    text-transform: uppercase;
  }
  .navigation > div:first-child{
    margin-bottom: 2vw;
  }
  #small{
    font-size: 4.891vw;
  }
  .portfolio-box1 .project-name{
    font-size: 6.667vw;
    line-height: 7.2322vw;
    /* margin-bottom: 6.667vw; */
    margin-bottom: 2.7778vw;
    word-wrap: break-word;
  }
  /* .portfolio-box1 .big{
    font-size: 6.667vw;
    line-height: 5.2322vw;
  } */
  /* .portfolio-box1 .small{
    display: block;
  } */
  .student-info{
    position: relative;
    font-size: 3.333vw;
    width: 100%;
    display: flex;
   /* justify-content: space-between; */
  }
  .student-info div{
    display: inline;
    margin-right: 0;
  }
  .student-info div:first-child{
    /* width: 41.967%; */
    /* margin-right: 5.333vw; */
    margin-right: 3.333vw;
  }
  .student-info div:last-child::before{
    content: '';
  }
  .portfolio-box2{
    margin-bottom: 8.889vw;
    /* margin-top: 7.5vw; */
    margin-top: 8.889vw;
  }
  .portfolio-image-wrap{
    margin-left: 0;
    margin-right: 0;
  }
  .video-wrap{
    margin-left: 0;
    margin-right: 0;
  }
  iframe{
    height: 56.25vw;
  }
  
  .value,.key{
    font-size: 2.778vw;
  }
  .project-info-wrap{
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
  }
  .project-info{
    /* margin-bottom: 9.722vw; */
    margin-bottom: 6.667vw;
    padding: 0;
    
  }
  .project-info .project-name{
    font-size: 3.333vw;
    /* margin-bottom: 5.556vw; */
    margin-bottom: 2.7778vw;
    word-wrap: break-word;
  }
  .project-detail{
    display: grid;
    grid-template-columns: 52.134% 47.866%;
  }
  .project-detail > div:first-child >div, .project-detail > div:last-child{
    /* display: grid;
    grid-template-columns: 36.0759% 63.924%; */
    display: flex;
    gap: 1.111vw;
  }
  .project-detail >div>div{
    margin-bottom: 1.944vw;
  }
  .portfolio-cation-wrap{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    font-size: 3.333vw;
    /* font-size: 16px; */
  } 
  .portfolio-cation-wrap >div{
    margin-left: 0;
  }
  .portfolio-cation-wrap p{
    word-wrap: break-word;
    line-height: 6.111vw;
  }
  .portfolio-cation-wrap > div:first-of-type{
    margin-bottom: 8.889vw;
  }
  .portfolio-box3{
    margin-top: 11.111vw;
  }
  .student-info-detail{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    width: 100%;
    /* height: 30.833vw; ----------------------*/
    margin-bottom: 10.556vw;
  }
  .student-info-detail >div:first-child{
    margin-bottom: 3.333vw;
  }
  .student-info-detail >div:first-child >div:first-child{
    font-size: 6.667vw;
    margin-bottom: 4px;
    margin-left: -2px;
    font-weight: lighter;
  }
  .student-info-detail >div:first-child >div:last-child{
    font-size: 3.333vw;
  }
  /* .student-info-detail >div:last-child{
    border-left: 1px solid #000;
    display: grid;
    grid-template-columns: 43.360% 55.6399%;
    grid-template-rows: 50% 50%;

  } */
  .student-info-detail >div:last-child > div:nth-child(odd){
    flex: 1 1 48%;
  }
  .student-info-detail >div:last-child > div:nth-child(even){
    flex: 1 1 40%;
  }
  .student-info-detail >div:last-child >div{
    padding-left: 4.444vw;
    font-size: 2.2222vw;
    margin-top: 8px;
  }
  .link-container{
    text-align: left;
    margin-bottom: 16.667vw;
  }
  .link-container a{
    margin-right: 2.222vw;
  }
  .link-container span svg{
    width: 2.778vw;
  }
  .move-page{
    font-size: 3.333vw;
  }
  .move-page >div:first-child{
    margin-bottom: 2.003vw;
  }
}
/*----------------------------------*/

/*---------------------designer----------------------*/
.designers{
  height: 100vh;
  position: relative;
  padding-bottom: 96px;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 92px;
  box-sizing: border-box;
  z-index: 4;
  background-color: white;
}
.designers-container{
  background-color: white;
 height: 100%;
  display: grid;
  grid-template-columns : 18.714% 81.286%;
  grid-template-rows: 100%;
  position: relative;
}
.name-container{
  background-color: white;
  overflow: auto;
  -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  font-family: 'Moderat';
}
.name-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}
.name-container li{
  list-style: none;
  margin-bottom: 10px;
  /* color: rgba(0, 0, 0, 0.50); */
  font-size: 16px;
  text-transform: uppercase;
}
.name-container li:hover{
  color: #000;
  margin-left: 10px;
}
.notSelected{
  color: rgba(0, 0, 0, 0.50);
}
.selected{
  color: #000;
  margin-left: 10px;
}
.designers-thumbnail-container img{
  height: 100%; 
  width: auto;
  padding-left: 24px;
  left: 0;
  transform: translateX(0);
}
.designers-thumbnail-container{
  height: 100%;
  padding-top: 31px;
  padding-bottom: 39px;
  position: relative;
  /* display: flex; */
  box-sizing: border-box;
  
}
.designer-image-wrap{
  height: 100%;
  /* overflow: hidden; */
  overflow-x: auto;
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}
.designer-image-wrap::-webkit-scrollbar {
  display: none;
}
/* #horizontalImage{
  width: 100%;
  height: auto;
} */
/* @media screen and (min-width:961px){
  #horizontalImage{
    width: 100%;
    height: auto;
  }
} */
.mobile-name-list{
  display: none;
}
#swiperslide{
  text-align: center;
  font-family: 'Moderat';
  text-transform: uppercase;
  font-size: 3vw;
  font-style: normal;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.50);
  width: auto;
}
.mobile-thumbnail{
  display: none;
}
.web-thumbnail{
  display: block;
  position: relative;
}
.viewallicon{display: none;}
/* @media screen and (min-width:871px) and (min-aspect-ratio : 1677.40649/1080){
  #horizontalImage{
  width: 100%;
  height: auto;
}
}
@media screen and (min-width:871px) and (max-aspect-ratio : 1677.40649/1080){
  #horizontalImage{
  width: 100%;
  height: auto;
}
} */
@media screen and (max-width:870px){
  .web-thumbnail{display: none;}
  .mobile-thumbnail{
    display: block;
    width: 100%;
  }
  .mobile-name-list{
    display: block;
  }
  .designer-image-wrap{
    height: auto;
  }
  .web-name-list{display: none;}
  .lineD::before{
    border-left: none;
  }
  .border{
    margin-left: 50%;
    transform: translate(-50%);
    width: 85%;
    display: block;
    height: 20px;
    border-top:  rgba(0, 0, 0, 0.15) solid 1px;;
  }
  .designers{
    height: auto;
    min-height: 100vh;
    /* min-height: 100vh; */
    margin-top: 58px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 217px;
  }
  .designers-container{
    height: 100%;
    margin: 0;
    /* display: grid; */
    /* grid-template-columns : 100%;
    grid-template-rows: 11.94vw auto; */
    display: flex;
    flex-wrap: wrap;
    position: relative;
  }
  .name-container{
    /* margin-top: 9.015%; */
    margin-top: 20px;
    width: 100%;
  }
  .designers-thumbnail-container{
    width: 100%;
  }
  .designers-container img{
    padding: 0;
    border: none;
    width: 100%;
    height: auto;
  }
  .current{
    color: rgba(0, 0, 0, 1);
    /* font-size: 3.5vw; */
    /* transform: translateY(-3.8px); */
  }
  .name-container{
    overflow: auto;
    white-space: nowrap;
  }
  .name-container li{
    display: inline;
    list-style: none;
    margin-right: 70px;
    /* margin-bottom: 10px; */
  
    color: rgba(0, 0, 0, 0.50);
    font-size: 12px;
    text-transform: uppercase;
  }
  .designers-thumbnail-container{
    /* padding: 9.8556vw; */
    display: block;
    height: auto;
    padding-top: 7.778vw;
    padding-bottom: 16.667vw;
    box-sizing: border-box;
  }
  .designer-image-wrap{
    overflow-x: hidden;
  }
  
  #selected{
    color: #000;
  }
  #notSelected{
    color: rgba(0, 0, 0, 0.50);
  }
  .swiper-wapper .swiper-slide{
    word-wrap: break-word;
  }
  .viewallicon {
    display: block;
    left: 50%;
    transform: translate(-50%);
    /* margin-bottom: 6.667vw; */
    position: absolute;
    bottom: 204px;
  }
  .viewallicon svg{
    width: 31.111vw;
  }
}

/*--------------------------------------------------*/

/*--------------------karts-----------------------*/
.karts-container{
  padding: calc(91px + 1.875vw) 18.802vw 58px;
  position: relative;
  box-sizing: border-box;
  min-height: 100vh;
  font-family: 'Moderat', 'SUIT';
}
.karts-content-container{
  width: 100%;
  position: relative;
}
.karts-link-wraper{
  width: 5.9375vw; 
  height: auto;
  position: absolute;
  top: 0;
  right: 0;
}
/* .karts-content-container button{
  padding: 0.6771vw 2.6563vw 0.6771vw 2.6563vw;
  background: #FFF;
  text-transform: uppercase;
  font-size: 0.9375vw;
  font-weight: 400;
  margin-bottom: 1.667vw;
} */
.karts-content-container button{
  /* width: 162px; */
  width: 8.4375vw;
  /* height: 39px; */
  height: 2.03125vw;
  background: #FFF;
  text-transform: capitalize;
  letter-spacing: 1px;
  /* font-size: 18px; */
  font-size: 0.9375vw;
  margin-bottom: 1.667vw;
  font-family: 'Moderat';
  margin-right: 0.4167vw;
}
.karts-images-container img{
  margin-bottom: 1.458vw;
}
.karts-description-container p{
  margin-bottom: 2.0833vw;
  /* font-size: 16px; */
  /* line-height: 28px; */
  word-wrap: break-word;
  word-break: keep-all;
}
.karts-description-container >p:first-child{
  /* font-family: 'SUIT'; */
  font-size: 0.8333vw;
  line-height: 1.458vw;
}
.karts-description-container >p:last-child{
  /* font-family: 'Moderat'; */
  font-size: 0.8333vw;
  line-height: 1.354vw;
}
.flex-container{
	display: flex;
	flex-wrap: wrap;
  gap: 1.458vw;
  margin-bottom: 1.667vw;
}
.flex-item-wraper{
	/* flex: 1 1 40%; */
  width: 31%;
  margin-bottom: 1.667vw;
}
.flex-item-wraper1{
	/* flex: 1 1 40%; */
  width: 48%;
  margin-bottom: 1.667vw;
}
/* 임시 */
.flex-item-wraper div{
  /* font-family: 'SUIT'; */
  font-size: 0.8333vw;
  line-height: 1.458vw;
}
.flex-item-wraper1 div{
  /* font-family: 'SUIT'; */
  font-size: 0.8333vw;
  line-height: 1.458vw;
}
.flex-item-wraper p{
  /* font-family: 'Moderat'; */
  font-size: 0.8333vw;
  line-height: 1.354vw;
}
.flex-item-wraper1 p{
  /* font-family: 'Moderat'; */
  font-size: 0.8333vw;
  line-height: 1.354vw;
}
.flex-item-wraper img{
  margin-bottom: 0.8302vw;
}
.flex-item-wraper1 img{
  margin-bottom: 0.8302vw;
}
/* 임시 */
.flex-item-wraper img{
  width: 100%;
  height: auto;
}
.flex-item-wraper1 img{
  width: 100%;
  height: auto;
}
.karts-container .active{
  border: 0.1042vw black solid;
  color: rgba(0, 0, 0, 1);
}
.karts-container .inactive{
  border: 0.1042vw solid rgba(0, 0, 0, 0.5);
  color: rgba(0, 0, 0, 0.5);
}
.faculty{position: relative;}
.faculty >div:nth-of-type(1){
  font-size: 1.25vw;
  margin-bottom: 0.2vw;
}
.faculty >div:nth-of-type(2){
  font-size: 0.8435vw;
  color: rgba(0, 0, 0, 0.70);
}
.faculty >div:nth-of-type(3){
  border-bottom: rgba(0, 0, 0, 0.15) solid 0.999px;
  margin: 0.8333vw 0 0.8333vw;
}
.faculty a{
  position: absolute;
  right: 0;
  font-size: 0.625vw;
}
@media screen and (max-width:870px) {
  .karts-container{
    padding: 91px 0 58px;
  }
  .karts-link-wraper{
    width: 89.43px;
    height: auto;
    right: 7.944vw;
    top: -38px;
  }

  /* .karts-content-container button{
    padding: 13px 51px 13px 51px;
    background: #FFF;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    margin-left: 8.333vw;
    margin-bottom: 20px;
  } */
  .karts-content-container button{
    /* width: 25.622vw; */
    width: 91.234px;
    height: 37px;
    background: #FFF;
    text-transform: capitalize;
    font-size: 14px;
    /* font-size: 3.889vw; */
    margin-left: 0;
    /* margin-right: 3.2222vw; */
    margin-right: 12px;
    margin-bottom: 20px;
  }
  .karts-button-wraper{
    margin-left: 8.333vw;
    margin-right: 8.333vw;
  }
  .karts-button-wraper button:last-child{
    margin-right: 0;
  }
  .karts-content-container{
    margin-top: 70px;
  }
  .flex-container{
    display: flex;
    flex-wrap: wrap;
    gap: 0;
  }
  .flex-item-wraper{
    /* flex: 1 1 100%; */
    width: 100%;
    margin-bottom: 5.556vw;
    padding-left: 8.333vw;
    padding-right: 8.333vw;
  }
  .flex-item-wraper1{
    /* flex: 1 1 100%; */
    width: 100%;
    margin-bottom: 5.556vw;
    padding-left: 8.333vw;
    padding-right: 8.333vw;
  }
  .flex-item-wraper img{
    width: 100%;
    height: auto;
  }
  .flex-item-wraper1 img{
    width: 100%;
    height: auto;
  }
  .karts-description-container{
    padding: 0 0 0;
    font-size: 12px;
    line-height: 22.05px;
    /* margin-bottom: 5.555vw; */
  }
  .karts-description-container p{
    /* margin-bottom: 0w; */
    margin-bottom: 20px;
  }
  .karts-description-container >p:first-child{
    font-size: 3.333vw;
    line-height: 6.125vw;
  }
  .karts-description-container >p:last-child{
    font-size: 3.333vw;
    line-height: 4.865vw;
  }
  .flex-item-wraper img{
    margin-bottom: 4.4278vw;
  }
  .flex-item-wraper1 img{
    margin-bottom: 4.4278vw;
  }
.flex-item-wraper div{
  /* font-family: 'SUIT'; */
  font-size: 3.333vw;
    line-height: 6.125vw;
}
.flex-item-wraper1 div{
  /* font-family: 'SUIT'; */
  font-size: 3.333vw;
    line-height: 6.125vw;
}
.flex-item-wraper p{
  /* font-family: 'Moderat'; */
  font-size: 3.333vw;
    line-height: 4.865vw;
    margin-bottom: 11.111vw;
}
.flex-item-wraper1 p{
  /* font-family: 'Moderat'; */
  font-size: 3.333vw;
    line-height: 4.865vw;
    margin-bottom: 11.111vw;
}
.flex-item-wraper p{
  margin-left: 8.333vw;
  margin-right: 8.333vw;
}
.flex-item-wraper1 p{
  margin-left: 8.333vw;
  margin-right: 8.333vw;
}
.flex-item-wraper div {
  margin-left: 0;
  margin-right: 0;
}
.flex-item-wraper1 div {
  margin-left: 0;
  margin-right: 0;
}
/* 임시 */
.faculty >div:nth-of-type(1){
  font-size: 6.667vw;
  margin-bottom: 1.889vw;
}
.faculty >div:nth-of-type(2){
  font-size: 4.499vw;
  color: rgba(0, 0, 0, 0.70);
}
.faculty >div:nth-of-type(3){
  border-bottom: rgba(0, 0, 0, 0.15) solid 0.999px;
  margin: 4.444vw 0 4.444vw;
}
.faculty a{
  position: absolute;
  right: 8.333vw;
  font-size: 3.333vw;
}
}
/*--------------------------------------------------*/
/*------------------------about-----------------------*/
.content-container{
  position: absolute;
  z-index: 3;
  bottom: 0px;
  top: 0;
  left: 0;
  right: 0;
  padding: 91px 29.427vw 0;
  background: rgba(255, 255, 255, 0.90);
  animation: fadeInUp 1.5s ease-in-out;
  height: 100vh;
  box-sizing: border-box;
}
.content-container .content{
  margin-top: 5vw;
}
.content-container .content p{
  word-wrap: break-word;
  word-break: keep-all;
}
.up{
  display: block;
}
.down{
  display: none;
}
.content-container .content > p:first-child{
  margin-bottom: 3.125vw;
  font-size: 0.9375vw;
  line-height: 1.4583vw;
}
.content-container .content > p:nth-of-type(2){
  font-size: 0.8333vw;
  line-height: 1.3542vw;
}
@keyframes fadeInUp {
  from{
    opacity: 100;
    transform: translateY(100%);
  }
  to{
    opacity: 100;
    transform: none;
  }
}
@media screen and (max-width:870px) {
  .content-container{
    padding: 74px 16px 0;
  }
  .content-container .content{
    margin-top: 42px;
  }
  .content-container .content > p:first-child{
    margin-bottom: 40px;
    font-size: 3.333vw;
    line-height: 5.278vw;
  }
  .content-container .content > p:nth-of-type(2){
    font-size: 3.333vw;
    line-height: 5vw;
  }
}




.container1{
  padding: 91px 0 58px 0;
  position: relative;
  box-sizing: border-box;
  min-height: 100vh;
  font-family: 'Moderat', 'SUIT';
}
.container2{
  position: relative;
  /* padding: 1.875vw 18.802vw; */
  padding: 2.5vw 80px;
}
.button-wrap{
  margin-bottom: 32px;
  height: auto;
}
.button-wrap button{
  background: #FFF;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-size: 0.9375vw;
  margin-right: 0.4167vw;
  padding: 0.677vw 2.65625vw;
  border: 0.1042vw solid #000;
  color: #000;
}
.button-wrap button:last-child{
  margin-right: 0;
}
.flex-box{
  display: flex;
  flex-wrap: wrap;
  gap: 80px;
}
.about-flex-item{
  width: calc(50% - 0.729vw);  
  font-size:18px;
  line-height:1.8;
}
.about-flex-item img{
  width: 100%;
  height: auto;
} 
.faculty-flex-item{
  /* position: relative; */
  width: calc( 50% - 40px );
  /* padding-bottom: 0.8333vw; */
  display:flex;
  
}
.faculty-flex-item img{
  width: 149px;
  height: auto; 
}
.faculty-info{ 
  position: relative;
  width:calc(100% - 149px); padding-left:37px; box-sizing:border-box; line-height:1.5;
}
.faculty-info > div:nth-of-type(1){ 
  font-weight:600;
}
.faculty-info > div:nth-of-type(2){  
  font-weight:600;
}
.faculty-info > div:nth-of-type(4){
  position: absolute;
  right: 0;
  bottom: 0;
  width:calc(100% - 37px); 
}
.container1 .inactive{
  border-color:rgba(0, 0, 0, 0.5);
  color: rgba(0, 0, 0, 0.5);
}
.link-wraper svg{
  width: 6.771vw;
  height: auto;
  /* position: absolute; */
  /* top: 1.875vw; */
  /* right: 18.802vw; */
  /* top: 1.25vw;
  left: 18.802vw; */
  margin-left: 50%;
  transform: translate(-50%);
  margin-top: 3.59375vw;
}
@media screen and (max-width:870px) {
  .container1{
    padding: 74px 0 0 0;
  }
  .container2{
    /* padding: 22.778vw 8.333vw; */
    padding: 0 16px;
  }
  .button-wrap{
    margin-bottom: 20px;
  }
  .button-wrap button{
    font-size: 14px;
    margin-right: 8.0px;
    padding: 9.4px 21px;
    border: 1.5px solid #000;
  }
  .flex-box{
    gap: 30px;
  }
  .about-flex-item{
    width: 100%;
    font-size: 14px;
  }
  .about-flex-item:nth-child(odd){ 
  }
  .about-flex-item:nth-child(even){ 
  }
  .faculty-flex-item{
    width: 100%;
    /* padding-bottom: 4.444vw; */
  }
  .faculty-flex-item img{width:83px;}
  .faculty-info{ 
    width: calc(100% - 83px);
    padding-left: 20px;
    font-size:12px;
  }
  .faculty-info img{ 
  }
  .faculty-info > div:nth-of-type(1){
    display: inline-block;
    font-size: 14px; 
  }
  .faculty-info > div:nth-of-type(2){
    display: inline-block;
    padding-left:5px;
    font-size: 14px;
  }
  .faculty-info > div:nth-of-type(4){
     
    position:sticky;
  }
  .link-wraper svg{
    width: 89.43px;
    /* top: 13.056vw; */
    /* right: 8.333vw; */
    /* left: 8.333vw; */
    margin-top: 8.889vw;
  }
}



.kart_tit{padding-bottom:20px; font-size:14px; font-weight:600;}
.exhibition_tab + .kart_tit{margin-top:15px;}
.flex-box + .kart_tit{margin-top:103px;}

/*------------------------about 교수 -----------------------*/
.professor_list{display:flex; flex-wrap: wrap; gap:20px; margin-top:55px;font-size:14px;}
.professor_list .prof_con{width:calc((100% - 40px) / 3);background: #F8F8F8; padding: 16px 24px 20px 24px; border-radius: 4px; box-sizing:border-box;line-height:1.5;}
.professor_list .prof_name{padding-bottom:12px; border-bottom: 1px solid #B8B8B8; font-size: 17px; font-weight: 600; } 
.professor_list .prof_info{ margin-top:12px; } 
.professor_list .prof_info p{display:flex; line-height:1.5;}
.professor_list .prof_info p + p{margin-top:4px;}
.professor_list .prof_info span{width:80px;font-weight:600;}
.professor_list .prof_info em{width:calc(100% - 80px); font-style:normal;}
@media screen and (max-width:870px) {
  .professor_list{ gap:16px; font-size:13px;}
  .professor_list .prof_con{width:100%; padding: 12px 20px 16px 20px;} 
  .professor_list .prof_name{padding-bottom:8px; font-size: 15px;}
}
/*----------------------------------------------*/
 


.archive-container{padding:150px 80px ;}
.archive_list{display:flex; flex-wrap: wrap; gap:40px; margin:0; padding:0;}
.archive_list > li{width:calc(50% - 20px); font-size: 17px; font-weight: 600;  } 
.archive_list > li img{width:100%; margin-bottom:15px;}

@media screen and (max-width:870px) {
  
.archive-container{padding:100px 16px ;}
  .archive_list > li{width:100%;}  
}

.archive_intro{font-size:18px; line-height:1.5;}
.archive_intro.archive_intro_web{display:flex; flex-wrap: wrap; justify-content: space-between;}
.archive_intro.archive_intro_mo{display:none;}

.archive_intro .backtolist {width:100%; padding:0 0 30px 12px; box-sizing:border-box; font-size:16px;}
.archive_intro .backtolist span{text-decoration:underline;}
  
.archive_intro .tit_img{width:calc(100% + 160px); margin-left:-80px; margin-right:-80px; padding-bottom:60px;}
.archive_intro .tit_img img{width:100%;}
.archive_intro .info {width:50%; padding:0 0 0 67px; box-sizing:border-box;}
.archive_intro .info .info_txt div + div{margin-top:80px;}
.archive_intro .info .info_txt p + p{margin-top:30px;}
.archive_intro .info .info_link{padding:160px 0; text-align:center;}
.archive_intro .info .info_link p + p{margin-top:16px;}
.archive_intro .info .info_link a{text-decoration:underline; font-size:16px;}
.archive_intro .credit{width:35%; box-sizing:border-box;}
.archive_intro .credit h4{margin:0;padding-bottom:20px; font-weight:400;}
.archive_intro .credit dl + h4{margin-top:40px;}
.archive_intro .credit dl{display:flex;margin:0; }
.archive_intro .credit dl + dl{margin-top:20px;}
.archive_intro .credit dl dt{width:120px; margin:0; color:#555;}
.archive_intro .credit dl dd{width:calc(100% - 120px);margin:0;} 
.archive_intro .credit .committee{margin-bottom : 40px;}
.archive_intro .credit .committee dl + dl{margin-top:5px;}

@media screen and (max-width:1440px) {
  .archive_intro .info {padding:0;} 
  .archive_intro .credit{padding:0;}
}
@media screen and (max-width:870px) {
  .archive_intro{font-size:13px;}
  .archive_intro.archive_intro_web {display:none;}
  .archive_intro.archive_intro_mo{display:block; } 
  
  .tab_cont_credit{display:none; }  
  
  .archive_intro .tit_img{width:calc(100% + 32px); margin-left:-16px; margin-right:-16px; padding-bottom:20px;}

  .archive_intro .info {width:100%;} 
  .archive_intro .info .title{padding-bottom:20px; font-weight:600;font-size:14px;}
  .archive_intro .info .info_txt div + div{margin-top:40px;}
  .archive_intro .info .info_txt p + p{margin-top:25px;}
  .archive_intro .info .info_link{padding:55px 0; text-align:center;}
  .archive_intro .info .info_link p + p{margin-top:16px;}
  .archive_intro .info .info_link a{text-decoration:underline; font-size:14px;}

  .archive_intro .credit{width:100%;}
  .archive_intro .credit dl + h4{margin-top:30px;}
  .archive_intro .credit dl dt{width:93px; ;}
  .archive_intro .credit dl dd{width:calc(100% - 93px); }  
  
}